@use '../variables' as *;

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 1;
}

.main {
    position: absolute;
    width: 70rem;
    height: 30rem;
    top: 45%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    background-color: $background-color-secondary;
    border-radius: $border-radius-lg;
    z-index: 2;
}

.title {
    text-align: center;
}

.typeSiteContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
    gap: 50px;
}